@charset "UTF-8";
/* reseteo de css */
/* Animaciones */
.carousel__cursor {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  color: #383838; }

/* Animation */
.carousel__cursor {
  animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite; }

/* text animation */
@keyframes animated-text {
  from {
    width: 0; }
  to {
    width: 200px; } }

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75); }
  to {
    border-right-color: transparent; } }

/* Colores */
/* colores */
.row_persona {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 260px;
  left: 450px;
  z-index: 1; }

/* tamaño celular */
@media only screen and (min-device-width: 355px) and (max-device-width: 667px) {
  .row_fondo {
    height: auto;
    width: 320px; }
  .row_persona {
    top: 0px;
    left: 10%;
    height: 150px;
    width: 250px; }
  .mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
    color: #2a9d8f;
    text-shadow: 2px 2px 0px #0f0f0f, 5px 4px 0px rgba(0, 0, 0, 0.15); }
  .text_parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: smaller; }
  .imgViajero {
    height: 100px; }
  /* button tips */
  .padre > .circle0 {
    top: 550px;
    left: 40%; }
  .padre > .circle1 {
    top: 1000px;
    left: 40%; }
  .padre > .circle2 {
    left: 40%;
    top: 1450px; }
  .padre > .circle3 {
    left: 40%;
    top: 1800px; }
  .pMadero {
    height: 100px; }
  .texto {
    height: 195px;
    overflow: hidden; } }

/* tablet */
@media only screen and (min-width: 768px) {
  .row_fondo {
    height: auto;
    width: 700px; }
  .row_persona {
    top: 55%;
    left: 30%;
    height: 150px;
    width: 250px; }
  .mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 40px;
    z-index: 1;
    color: #2a9d8f;
    text-shadow: 2px 2px 0px #0f0f0f, 5px 4px 0px rgba(0, 0, 0, 0.15); }
  .text_parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .imgViajero {
    height: 300px; } }

/* pantallas grandes */
@media only screen and (min-width: 1200px) {
  .row_fondo {
    height: auto;
    width: 100%; }
  .row_persona {
    top: 40%;
    left: 30%;
    height: 450px;
    width: 650px; }
  .mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 160px;
    left: 70px;
    z-index: 1;
    color: #2a9d8f;
    text-shadow: 2px 2px 0px #0f0f0f, 5px 4px 0px rgba(0, 0, 0, 0.15); }
  .imgViajero {
    height: 400px; }
  .padre > .circle0 {
    top: 350px;
    left: 10%; }
  .padre > .circle1 {
    top: 350px;
    left: 35%; }
  .padre > .circle2 {
    top: 350px;
    left: 60%; }
  .padre > .circle3 {
    top: 350px;
    left: 85%; }
  .padre > .circle4 {
    top: 350px;
    left: 35%; } }

/* tips */
.tipTitle {
  text-align: center;
  background-color: #ebedf0;
  margin: 0px; }

.tipImg {
  height: 395px;
  -webkit-box-shadow: 0px 0px 17px 0px #dedede;
  -moz-box-shadow: 0px 0px 17px 0px #dedede;
  box-shadow: 0px 0px 17px 0px #dedede; }

.circulo {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 60%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.678);
  border: 5px solid #29705b;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.circulo > p {
  font-family: sans-serif;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold; }

ion-icon {
  color: #2a9d8f;
  height: 50px; }

ion-icon:hover {
  color: red; }

.padre > *:hover {
  color: #838383;
  /* color boton */
  background-color: rgba(203, 212, 210, 0.589);
  /* cambio opacidad background */
  /* Aplica filtros para las imagenes brillo y saturación */
  filter: brightness(113%) saturate(128%);
  -webkit-filter: brightness(113%) saturate(128%);
  -moz-filter: brightness(113%) saturate(128%); }

/* justificar texto */
.text-justify {
  text-align: justify; }

.imagenh {
  height: 30%;
  width: 30%; }

h4 {
  color: #5B8869; }

.imgTips {
  border-radius: 10%; }

.parrafoTexto {
  line-height: 40px;
  font-size: large; }

/* Cambia de color el boton utilizando la propiedad each */
.color-red:hover {
  background-color: red; }

.color-blue:hover {
  background-color: blue; }

.color-green:hover {
  background-color: green; }

/* Estilos Tours */
.text_parrafo {
  font-family: 'Poppins', sans-serif; }

.color-red:hover {
  background-color: red; }

.color-blue:hover {
  background-color: blue; }

.color-green:hover {
  background-color: green; }

/* aplicando maps */
.element {
  color: #2a9d8f;
  padding: 1em;
  margin: 0 1em; }
  .element::before {
    background-color: #2a9d8f; }

ion-icon {
  padding: 4px;
  font-size: 34px;
  height: 24px;
  color: #2a9d8f; }
  ion-icon .centrarDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }

.cardImg {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
  -webkit-box-shadow: 2px 10px 15px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 2px 10px 15px 4px rgba(0, 0, 0, 0.07);
  border-radius: 0px 0px 10px 10px; }

span {
  font-family: 'Poppins', sans-serif; }

.cardImg1 {
  background-color: #c4d8c9;
  border-radius: 5px;
  -webkit-box-shadow: 2px 10px 15px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 2px 10px 15px 4px rgba(0, 0, 0, 0.07); }

/* ranking */
.estrellas {
  color: #fcbf49; }

/* colores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row {
  margin-left: 0;
  margin-right: 0; }

.frase {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  top: 0px;
  padding-left: 12%;
  color: #1d3557;
  font-family: 'Poppins', sans-serif; }

.parrafo {
  color: #2a9d8f; }

.card__boxcolor {
  background-color: #a8dadc; }

.card__parrafo,
p {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  /* Aplica justify de forma correcta */
  text-align: justify;
  text-justify: inter-word; }

.container {
  padding: 0;
  margin: 0; }

.card__text {
  padding: 0;
  margin: 0; }

.card__body {
  padding: 0;
  margin: 0; }

.anime__card:hover {
  display: inline-block;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */ }

/* Parrafos y textos */
.carousel__titulos {
  color: #5B8869; }

.carousel__parrafo1 {
  color: #5B8869; }

h2 {
  color: #7EA68C; }

a {
  font-size: medium;
  font-weight: 600; }

.bg {
  background-image: linear-gradient(to right bottom, #f9fefa, #f5fdf7, #f1fdf4, #edfcf2, #e9fcef, #e9fcef, #e9fcef, #e9fcef, #edfcf2, #f1fdf4, #f5fdf7, #f9fefa); }

.row_fondo {
  z-index: -1;
  /* height: 85vh; */ }

/* contacto */
.bgContact {
  background-color: #f8f9fa; }

.mapaMapundi {
  background-image: url(../images/mapamundi.png); }

/* mapa responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0;
  border: 5px dotted #4DA461;
  border-radius: 40px 40px 0px 40px; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/* run sass    npm run watch-css */
.card {
  margin: 1px; }
